.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--section-padding);
  background: linear-gradient(160deg, var(--clr-bg) 60%, var(--clr-accent) 220%);
}

.content {
  max-width: 580px;
  left: 50px;
  position: relative;
  z-index: 2;
  padding: 2rem;
  animation: fadeIn 1s ease-in-out;

}

.text{
  margin-left: -1.2rem;
}

.title {
  margin-bottom: 1.2rem;
  font-weight: var(--fw-bold);
  line-height: 1.2;
  font-family: Georgia;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-bkg);
}


.sub {
  margin: 1.5rem auto 2.5rem;
  font-size: 1.05rem;
  color: var(--clr-muted);
  max-width: 34ch;
}

.cta {
  display: inline-block;
  background: var(--clr-bkg);
  color: #fff;
  padding: .9rem 3rem;
  font-weight: var(--fw-semibold);
  text-decoration: none;
  transition: background .25s;
  margin-top: 1.2rem;
}
.cta:hover { opacity: 0.7;}


@media (max-width: 767px) {
  .hero { padding: 8rem 1.5rem 4rem; }
  .title { font-size: 2rem; }
}