.banner {
  background: var(--clr-primary);
  display: flex;
  align-items: center;
  gap: 2rem;      
  width: 100%;
}

/* IMAGE SIDE */
.image {
  flex: 0 0 30%;
}

.image img {
  width: 100%;
  height: auto;
}

/* TEXT SIDE */
.content {
  flex: .78;                 /* <-- THIS is what makes it expand */
  padding: 2rem;
  margin-left: 2.3rem;
  animation: fadeIn 1s ease-in-out;
  z-index: 2;
}

p{
  margin-left: -1rem;
  /* text-align: left; */
}

.cta {
  display: inline-block;
  background: var(--clr-bkg);
  color: #fff;
  padding: .9rem 3rem;
  font-weight: var(--fw-semibold);
  text-decoration: none;
  transition: background .25s;
  margin-top: 1.2rem;
}
.cta:hover { opacity: 0.7;}


@media (max-width: 767px) {
  .hero { padding: 8rem 1.5rem 4rem; }
  .title { font-size: 2rem; }
  .image{
    display: none;
  }
}