.banner {
  background: var(--clr-primary);
  display: flex;
  flex-wrap: wrap;
  /* Allow wrapping on small screens */
  align-items: center;
  gap: 2rem;
  width: 100%;
}

/* IMAGE SIDE */
.image {
  flex: 0 0 30%;
}

.image img {
  width: 100%;
  height: auto;
}

/* TEXT SIDE */
.content {
  flex: 1;
  padding: 2rem;
  margin-left: 2.3rem;
  animation: fadeIn 1s ease-in-out;
  z-index: 2;
}

p {
  margin-left: -1rem;
  /* text-align: left; */
}

.cta {
  display: inline-block;
  background: var(--clr-bkg);
  color: #fff;
  padding: .9rem 3rem;
  font-weight: var(--fw-semibold);
  text-decoration: none;
  transition: background .25s;
  margin-top: 1.2rem;
}

.cta:hover {
  opacity: 0.7;
}


@media (max-width: 767px) {
  .hero {
    padding: 6rem 1.5rem 3rem;
  }

  .title {
    font-size: 2rem;
  }

  .content {
    margin-left: 0;
    padding: 1rem 0;
    text-align: center;
  }

  .image {
    display: none;
  }

  p {
    margin-left: 0;
  }
}